.container {
    background-color: lightgreen;
    min-height: 200px;
}

.mainblock {
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
}

.text {
    background-color: lightgrey;
    font-weight: bold;
    line-height: 16px;
    /*width: 100%;*/
    margin-bottom: 50px;
    padding: 5px;
}

.cards {
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}


@media (max-width: 576px) {
    .mainblock {
        border: none;
    }

    .text {
        margin: 5% 0;
        font-size: 30px;
        line-height: 36px;
    }

    .cards {
        border: none;
        justify-content: center;
    }
}