.container {
    background-color: lightgreen;
    min-height: 200px;
}

.mainblock {
    border: 1px solid #000;
    display: flex;
    /*  padding: 0 20px;*/
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /* flex-direction: row;*/
    margin: 5%;
}

.text {

    background-color: lightgrey;
    font-weight: bold;
    line-height: 16px;
    /*width: 100%;*/
    margin-bottom: 50px;
    padding: 5px;
}

.cards {
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    width: 100%;
}