.container {
    min-height: 200px;
    min-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form_container {
    border: 3px solid #000;
}

.form_group {
    border: 1px solid red;
    overflow: hidden;
    padding-bottom: 2%;
}

.form_group input {
    display: block;
    width: 100%;
}

.form_group textarea {
    resize: none;
    display: block;
    width: 100%;
    margin-bottom: -2%;
}


@media (max-width: 576px) {
    .form_container {
        border: none;
        min-height: 300px;
    }

    .form_group {
        border: none;
        overflow: hidden;
        padding-bottom: 5%;
        margin: 0 2%;
    }

    .form_group input, textarea {
        font-size: 24px;
        width: 100%;
    }

    .text {
        margin: 5% 0;
        font-size: 30px;
        line-height: 36px;
    }

}