.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  height: 80px;
  gap: 50px;
}

.link {
  font-size: 24px;
  text-decoration: none;
  text-transform: capitalize;
  color: black;
}

.activeLink {
  background-color: lightgreen;
  font-size: 24px;
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  transition: background-color 0.7s ease-in-out;
}

li {
  list-style-type: none;
  cursor: pointer;
}

@media screen and (max-width: 980px) {
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70%;
    flex-direction: column;
  }

  .activeLink {
    background-color: transparent;
    font-size: 24px;
    text-decoration: none;
    text-transform: capitalize;
    color: lightgreen;
    transition: background-color 0.7s ease-in-out;
  }

  .link {
    font-size: 24px;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
  }
}
