.container {
    background-color: #dedada;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    /* gap: normal;*/
    border-right: 2px solid darkblue;
    margin: 2%;
}

.project_image {
    background-color: #adadad;
    height: 80%;
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
    position: relative;
}

.button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project_description {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    gap: 5px;
    text-align: left;

}

.title {
    background-color: #cbc9c9;
    align-self: flex-start;
}

.description {
    background-color: #cbc9c9;
    height: 40px;
}

@media (max-width: 576px) {
    .container {
        background-color: #dedada;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        border: none;
        margin-left: -2%;
        margin-right: -2%;
        margin-bottom: 3%;
    }

    .project_image {
        /* width: 100%;*/
        padding-top: 100%; /* 1:1 aspect ratio */
    }

    .title, .description {
        background-color: transparent;
        font-size: 28px;
    }
}