.container {
    background-color: pink;
    min-height: 200px;
}

.aboutMe {
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
    margin: 2%;
    flex-wrap: wrap;
}

.text {
    background-color: lightgrey;
    /* width: 4rem;
     height: 3rem;*/
    text-align: left;
    max-width: 360px;
    height: 100%;
    font-weight: bold;
    line-height: 16px;
    padding: 5px;
}

.photo_img {
    width: 200px;
    height: 250px;
    background-color: lightgrey;
    margin: 2%;
    justify-content: center;
    align-items: flex-end;
}

@media (max-width: 576px) {
    .aboutMe {
        border: none;
        margin: 2% 0;
        justify-content: center;
    }

    .text {
        margin: 0;
        margin-top: -2%;
        font-size: 19px;
        line-height: 22px;
        background-color: transparent;
    }
}